
  <div class="project" id="<%= dom_id(project) %>">
    <h3><%= project.name %></h3>
    <p><%= project.technologies_used %></p>
    <h4> <%= project.created_at.to_s(:project_date) %> </h4>

    <div class="nav">
      <%= link_to 'Edit', edit_project_path(project), remote: true, id: :edit_project %> |
      <%= link_to 'Destroy', project, method: :delete, remote: true, data: { confirm: 'Are you sure?' } %>
    </div>
  </div>
