<!doctype html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" data-useragent="Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; Trident/6.0)">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foundation Template | Blog</title>


    <meta name="description" content="Documentation and reference library for ZURB Foundation. JavaScript, CSS, components, grid and more." />

    <meta name="author" content="ZURB, inc. ZURB network also includes zurb.com" />
    <meta name="copyright" content="ZURB, inc. Copyright (c) 2013" />

  </head>
  <body>


<!-- Nav Bar -->

  <div class="row">
    <div class="large-12 columns">
      <div class="nav-bar right">
       <ul class="button-group">
        </ul>
      </div>
      <h1>Blog <small>This is my blog. It's awesome.</small></h1>
      <hr />
    </div>
  </div>
  <div class="row">

    <!-- Main Blog Content -->
    <div class="large-9 columns" role="content">

        <% if user_signed_in? %>
          <li><%= link_to 'New Post', new_post_path, remote: true, id: :new_link %></li>
          <% end %>
          <ul id='posts'>
        <%= render @posts %>
          </ul>
      <article>

        <h3><a href="#">Sublime Text and Zsh Productivity Hacks</a></h3>
        <h6>Written by <a href="#">Liam Buell</a> on February 23rd, 2014.</h6>

        <div class="row">
          <div class="large-6 columns">
            <p>One thing i've struggled with as a new developer, is leveraging learning everything and at the same time mastering productivity.   It can be a hard thing to do, especially if you are in an intensive bootcamp like I am.   It can feel like learning how to run and how to walk at the same time!</p>
          </div>
          <div class="large-6 columns">
            <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQMlnocmPtJ-eaOD9WxcS2stvyvANEODVHErqYSWJQRG51POBm3eA">
          </div>
        </div>


        <p>The first thing you should install is Zsh.  It's a significantly better terminal than the basic one you get on linux or mac.</p>

        <p>curl -L github.com/robbyrussell/oh-my-zsh/raw/master/tools/install.sh | sh</p>

        <p>That should work as a good basic setup for mac and linux users.   There is a ton of customization you can do with it but out of the box it will conveniently tell you what git branch you are in, you can CD in and out of dirs without using CD, and many other convenient shortcuts!</p>


        <p>To change plugins/themes  check out https://github.com/robbyrussell/oh-my-zsh/blob/master/README.textile</p>

        <h3>Sublime 2 and Plugins</h3>

        <p>Sublime is my favorite text editor so far.    There are an insane ammount of plugins and choosing can be time consuming.  And then you have to learn how to use them!</p>

        <p><h5>My favorites so far:<h5></p>

        <p><h6>Beautify Ruby</h6> -  Simply highlight any block of ruby and it will beautify it!</p>

        <p><h6>Emmet</h6> -  Emmet has a few flavors,  livestyle lets you live code css directly in your browser which is amazing.  And the other plugin lets you code huge chunks of  HTML and CSS with very short commands.  This used to be Zen Coding. Very useful! </p>

        <p><h6>Sublime Linter</h6> -  Very handy for letting you know when your syntax is wrong.</p>

        <p> <h6>LiveReload</h6> - Automatically reloads your browser anytime sublime saves a file. Very convenient, especially if you turn on the save on focus lost function in sublime(which you should have set!)</p>

        <h6>Snippets</h6>

        <p>Snippets are fantastic!   thay are a great way of storing all the chunks of code that you re-use on a regular basis.   Once they are stored you can quickly search when you are inside a new file and it will show you all the relavant snippets for that type of file.</p>

        <h6>Split Screens</h6>
        <p> Another useful productivity hack,   master this right away to limit getting lost in your files!  super easy for when you are trying to compare files or are working in multiple folders</p>

        <h6>Multiple Cursors</h6>
        <p> Probably one of if not the most attractive feature of Sublime is the multiple cursor function.  Makes editing super fast and makes replacing or changing multiple occurances of a word a piece of cake!.  It is AWESOME.   GET IT.</p>
        <h4>General Shortcuts</h4>

        <p>The number of shortcuts available to you in sublime is massive.  You really should study them and get them down immediately so you can take your productivity skills to the next level</p>

        <p>Cheat Sheet: http://sublime-text-unofficial-documentation.readthedocs.org/en/latest/reference/keyboard_shortcuts_win.html</p>

        <p>Please Let me know if you have any questions or comments and thanks for reading!</p>


          <div class="large-6 columns">
            <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcR1VdjDaJr4UN24GKZYMCid5QMUAQFU1Pl0Loa-shbdJ2LY_8My">
          </div>
          <div id="comments">
          <% @posts.each do |post| %>
          <% post.comments.each do |comment| %>
          <div class="comment">
          <%= simple_format comment.content %>
            <% end %>
          <% end %>
        </div>

      </div>

      </article>

  <div class="large-9 columns" role="content">

          <ul id='posts'>

          </ul>
      <article>
          <h3><a href="#">Installing a Zurb Foundation Theme</a></h3>
        <h6>Written by <a href="#">Liam Buell</a> on February 10th, 2014.</h6>
<div>

        <div class="row">
          <div class="large-6 columns">
            <p>My first foray into custom Zurb Foundation templates was surprisingly painful, My Hope is that this will help anyone who finds it have a better experience in installing  custom foundation theme!.</p>
          </div>
          <div class="large-6 columns">
            <img src="http://foundation.zurb.com/assets/img/learn/features/getting-started.svg">
          </div>
        </div>
        <p>First of all I want to say that you should really consider just getting a basic HTML template from Zurbs main website,  since those are very easy to implement and then you can customize from there quite easily.</p>

        <p>If you do find yourself just in love with a theme someone has made and want to implement it on top of your rails app, read on!.</p>

        <p>Basically it all comes down to asset placement.  Your custom theme will most likely have a different file structure than your rails app does.  You need to make sure that all your JS and CS files all go into their applicable assets directory.  all your fonts and images seem to do the best if you place them in the public/vendor folder, especially for heroku deployment</p>

        <p>Next you need to go through all the html and make sure that all the assets the custom them are looking for actually point to the right locations.  Usually the hrefs for the icons and fonts are in the css files so make sure you search or all img and link tags and point them to where you have placed the files in your folder structure.</p>

        <p>Only now would I recommend installing the foundation gem and installing foundation in the command line, this is because you have customized css files and you dont want to end up with default foundation css files, make sure when you are installing that you dont overwrite any existing files.</p>

        <p>That should get you pretty well setup, I would only suggest that you clean up your views, make a partial for the header and have as little in the application.html.erb as possible, and as much in the applicable views.  If you're still having issues getting the JS or CSS to load properly, especially when you are pushing to heroku, you will probably want to take out the links in your html files to any CSS/JS assets and add them to your manifest instead, this should resolve any other issues.  If you're still running into weird issues you may have ended up with a Custom theme who's CSS isn't compiling correctly in production and you will be getting arrors that don't! make much sense!</p>

        <p>I Hope this helped you install your beautiful custom theme!  if you're still having trouble you are welcome to add a comment below and I will try to help!  Or you could just use Twitter Bootstrap ;)</p>


          <div class="large-6 columns">
            <img src="http://premium.wpmudev.org/blog/wp-content/uploads/2013/01/blue-yeti1.png">
          </div>
          <div id="comments">
          <% @posts.each do |post| %>
          <% post.comments.each do |comment| %>
          <div class="comment">
          <%= simple_format comment.content %>
            <% end %>
          <% end %>
</div>

      </article>

      <hr />



      <article>

        <h3><a href="#">Sublime Text and Zsh Productivity Hacks</a></h3>
        <h6>Written by <a href="#">Liam Buell</a> on February 23rd, 2014.</h6>


          <div class="large-6 columns">
            <%= image_tag ("8.jpg") %>
          </div>
        </div>

        <p>"We dont know what we're doing and we dont know when we will be done"  - Agile Development Zen thoughts</p>

        <p>Never Give up, Never Surrender!</p>

      </article>

    </div>

    <!-- End Main Content -->


    <!-- Sidebar -->

    <aside class="large-3 columns">

      <h5>Categories</h5>
      <ul class="side-nav">
        <li><a href="#">News</a></li>
        <li><a href="#">Code</a></li>
        <li><a href="#">Design</a></li>
        <li><a href="#">Fun</a></li>
        <li><a href="#">Weasels</a></li>
      </ul>

      <div class="panel">
        <h5>Featured</h5>
        <p>What Happens when a tiger meats a lion and they face off against a pack of wild tuna?  find out here!</p>
        <a href="#">Read More &rarr;</a>
      </div>

    </aside>

    <!-- End Sidebar -->
  </div>


  <footer class="row">
    <div class="large-12 columns">
      <hr />
      <div class="row">
        <div class="large-6 columns">
          <p>&copy; Copyright no one at all. Go to town.</p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
            <li><a href="#">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
    <script>
      $(document).foundation();

      var doc = document.documentElement;
      doc.setAttribute('data-useragent', navigator.userAgent);
    </script>
  </body>
</html>
